/* Base Styles */
body {
    background-color: #FFFFFF; /* White */
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000; /* Black */
}

.header {
    background-color: #000000; /* Black */
    color: #FFCC00; /* Yellow */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #FFCC00; /* Yellow */
    border-color: #FFCC00; /* Yellow */
    color: #000000; /* Black */
}

.btn-primary:hover {
    background-color: #E5AA1C; /* Gold */
    border-color: #E5AA1C; /* Gold */
    color: #000000; /* Black */
}

.card-header {
    background-color: #000000; /* Black */
    color: #FFCC00; /* Yellow */
}

.card-body {
    background-color: #FFFFFF; /* White */
    color: #000000; /* Black */
}

.card-body a {
    color: #FFCC00; /* Yellow */
    background-color: #000000; /* Black */
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.card-body a:hover {
    color: #E5AA1C; /* Gold */
    background-color: #5B5B5B; /* Dark Gray */
    text-decoration: none;
}

.card {
    margin-bottom: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .header, .footer {
        text-align: center;
    }
}

/* Custom styles for nav-tabs */
.nav-tabs .nav-link {
    color: #000000; /* Black */
}

.nav-tabs .nav-link.active {
    background-color: #000000; /* Black */
    color: #FFCC00; /* Yellow */
}