<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Advice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header text-center py-3 mb-4">
            <h1>Career Advice for {{ major }}</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs justify-content-center" id="professionTabs" role="tablist">
                    {% for profession in professions %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="tab-{{ loop.index }}" data-toggle="tab" href="#content-{{ loop.index }}" role="tab">
                            {{ profession.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="professionContent">
                    {% for profession in professions %}
                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="content-{{ loop.index }}" role="tabpanel">
                        <h3>{{ profession.name }}</h3>
                        <p>{{ profession.description }}</p>
                        <p><a href="{{ profession.more_info }}" target="_blank" class="btn btn-primary">More Info</a></p>
                        <p><a href="{{ profession.program_url }}" target="_blank" class="btn btn-primary">Related Program at App State</a></p>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-4">
                    <a href="/" class="btn btn-secondary">Start Over</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>